@model Domain.Date

@{
    ViewBag.Title = "Matches";
}

<h2>Tournament: @Model.Tournament.Name</h2>
<h3>Date: @Model.Name</h3>

<p>
    @Html.ActionLink("Create New", "CreateMatch", new { id = Model.DateId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to Date", "Details", new { id = Model.TournamentId }, new { @class = "btn btn-success" })
</p>
@if (Model.Matches.Count == 0)
{
    <h4>Not matches added yet</h4>
}
else
{
    <table class="table table-hover table-striped">
        <tr>
            <th width="70px">
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().Status.Name)
            </th>
            <th width="80px">
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().TournamentGroup.Name)
            </th>
            <th width="70px">
                Local
            </th>
            <th width="70px">
                Local Logo
            </th>
            <th width="70px">
                Visitor
            </th>
            <th width="70px">
                Visitor Logo
            </th>
            <th width="200px">
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().DateTime)
            </th>
            <th width="70px">
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().LocalGoals)
            </th>
            <th width="70px">
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().VisitorGoals)
            </th>
            <th>
                # Predictions
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Matches.OrderBy(m => m.DateTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TournamentGroup.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.Name)
                </td>
                <td>

                    @if (!string.IsNullOrEmpty(item.Local.Logo))
                    {
                        <img src="@Url.Content(item.Local.Logo)" alt="Image" style="width:80px;height:100px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visitor.Name)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Visitor.Logo))
                    {
                        <img src="@Url.Content(item.Visitor.Logo)" alt="Image" style="width:80px;height:100px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalGoals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitorGoals)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Predictions.Count)*@
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditMatch", new { id = item.MatchId }) |
                    @Html.ActionLink("Predictions", "Predictions", new { id = item.MatchId }) |
                    @Html.ActionLink("Close", "CloseMatch", new { id = item.MatchId }) |
                    <button type="button" class="dialog-window btn btn-link" data-id="@item.MatchId">Delete</button>
                </td>
            </tr>
        }
    </table>
    }

    <div class="modal fade" id="DeleteMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Delete Match</h2>
                </div>
                <div class="modal-body">
                    <div class="te">
                        Are you sure to delete the record?
                    </div>
                    <div id="response">
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $("body").on("click", "button.dialog-window", null, function (e) {
            var htmlContent = '<br /><a href="@Url.Action("DeleteMatch", "Tournaments")/'
            + $(this).data('id')
            + '" class="btn btn-primary">Yes</a>&nbsp&nbsp&nbsp&nbsp<button type="button" id="btnNo" class="btn btn-success" data-dismiss="modal" aria-hidden="true">No</button>';
            $("#response").html(htmlContent);
            $('#DeleteMatch').modal('show');
    });
</script>
}
